@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --dark-color: #000;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-color);
  overflow: hidden;
  perspective: 1000px;
}

.night {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  filter: blur(0.1vmin);
  background-image: radial-gradient(
      ellipse at top,
      transparent 0%,
      var(--dark-color)
    ),
    radial-gradient(
      ellipse at bottom,
      var(--dark-color),
      rgba(145, 233, 255, 0.2)
    ),
    repeating-linear-gradient(
      220deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    repeating-linear-gradient(
      189deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    repeating-linear-gradient(
      148deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 19px,
      transparent 19px,
      transparent 22px
    ),
    linear-gradient(90deg, rgb(0, 255, 250), rgb(240, 240, 240));
}

.main, .lyrics {
  top: 0;
  position: fixed;
  text-align: center;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main h3 {
  animation: float 6s ease-in-out infinite;
}
.lyrics {
  display: none;
  max-width: 75%;
}
.lyrics p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0%, 100% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
}

.main p {
  font-size: 12px;
}
.main p:nth-child(4) {
  margin-bottom: 50px;
}

.menu {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  display: none;
}

.container * {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}





/* button */
.menu button {
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  border: none;
  animation: test 4s infinite ease-in-out;
}
.menu button:hover {
  text-decoration: underline;
}

.shadow__btn {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  background: rgba(0, 255, 250, 0.75);
  animation: glow 3s ease-in-out infinite;
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 5px rgb(0, 255, 250);
  }
  50% {
    box-shadow: 0 0 45px rgb(0, 255, 250);
  }
}
